---
BasedOnStyle: Google
AlignConsecutiveAssignments:
  Enabled: true
  AlignCompound: true
  AlignFunctionDeclarations: true
  AlignFunctionPointers: true
AlignConsecutiveBitFields:
  Enabled: true
  AlignCompound: true
  AlignFunctionDeclarations: true
  AlignFunctionPointers: true
  PadOperators: true
AlignConsecutiveDeclarations:
  Enabled: true
  AlignCompound: true
  AlignFunctionPointers: true
  PadOperators: true
AlignConsecutiveMacros:
  Enabled: true
  AlignCompound: true
  AlignFunctionDeclarations: true
  AlignFunctionPointers: true
  PadOperators: true
AlignConsecutiveShortCaseStatements:
  Enabled: true
  AlignCaseArrows: true
  AlignCaseColons: true
AlignEscapedNewlines: LeftWithLastLine
AllowBreakBeforeNoexceptSpecifier: Always
AllowShortEnumsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortLambdasOnASingleLine: None
AllowShortLoopsOnASingleLine: false
AlwaysBreakBeforeMultilineStrings: false
BinPackArguments: false
BinPackLongBracedList: false
BinPackParameters: OnePerLine
BreakAfterAttributes: Never
BreakBeforeBraces: Allman
BreakBeforeInlineASMColon: Always
BreakBinaryOperations: RespectPrecedence
BreakConstructorInitializers: BeforeComma
BreakInheritanceList: BeforeComma
ConstructorInitializerIndentWidth: 2
ContinuationIndentWidth: 2
EnumTrailingComma: Insert
ExperimentalAutoDetectBinPacking: true
IncludeBlocks: Preserve
IndentPPDirectives: BeforeHash
InsertBraces: true
InsertNewlineAtEOF: true
NamespaceIndentation: All
PackConstructorInitializers: BinPack
DerivePointerAlignment: false
PointerAlignment: Middle
ReferenceAlignment: Middle
SortIncludes:
  Enabled: false
SpaceAroundPointerQualifiers: Both
SpacesInParens: Custom
SpacesInParensOptions:
  ExceptDoubleParentheses: true
  InConditionalStatements: true
  Other: true
SpacesInSquareBrackets: true
Standard: Latest
TabWidth: 4
Language: Cpp
